.container{
    width: 1100px;
 
    margin: 0px auto;
}
  
.navbar{
    
    background-color: #fff;
    
    &__content{
        display: flex;
       


        &__logo{
            width: 50%;
            margin: 10px;
            
        }
        &__menus{
            width: 50%;
           
            padding-right: 10px;
            margin: auto;
            ul{
                list-style: none;
                display: flex;
                gap:20px ;
                justify-content:flex-end ;
                
            }
    
            a{
                text-decoration: none;
    
            }
        }    
    }
        
}

.banner{
    background-image: url(./images/background1.jpg);
    background-size: auto,cover;
    background-position: center;
    
    
    &__content{
        display: flex;
        margin-top: 60px;
        margin-bottom: 40px;

        
        &-text{
            width: 50%;
            span{
                font-family: Poppins, sans-serif;
                color: #d77474;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                text-align: center;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-bottom: -10px;
                
               
               
               
            }
            h2{
                font-family: Poppins, sans-serif;
                color: #000;
                font-size: 48px;
                line-height: 58px;
                font-weight: 500;
                margin-bottom: 1px;
                margin-top: 0px;
               
              
                img{
                    width: 57px;
                    height: 60px;
                    
                }
            }
            p{
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 10px;
                font-family: 'Libre Franklin', sans-serif;
                color: #6c6c6c;
              
            }

            button{
                margin-top: 40px;
                padding: 20px 40px;
                border-style: none;
                border-color: #000;
                border-radius: 0px;
                background-color: #ac1313;
                font-family: Poppins, sans-serif;
                color: #fff;
                line-height: 22px;
            }

        }

        &-img{
            width: 50%;
             
            img{
               margin-left: -135px;
                width: 800px;
            }
            
            
        }
    }

}

.categories{
    &__content{
        text-align: center;
        &-box{
            span{
                margin-bottom: 0px;
                font-family: Poppins, sans-serif;
                color: #d77474;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                text-align: center;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            h2{
                font-family: Poppins, sans-serif;
                color: #000;
                font-size: 40px;
                line-height: 50px;
                font-weight: 500;

                img{
                    width: 57px;
                    height: 60px;
                }
            }
        }
        &-circle{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 170px;
            .circle_item-1{
                 width: 220px;
                 height: 220px;
                 background-color: #c99e59;
                 border-radius: 50%;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 


                 .circle-items_1{
                    background-color: #e4b366;
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                   
                       img{
                        width: 70px;
                        height: 70px;
                        padding-top: 30px;
                        
                       }

                       p{
                        margin: 0px;
                        font-family: Poppins, sans-serif;
                        color: #fff;
                        font-size: 14px;
                        letter-spacing: 2px;
                       }

                    
                 }
            }

            .circle_item-2{
                width: 220px;
                height: 220px;
                background-color: #d9510d;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                


                .circle-items_2{
                   background-color: #f05b10;
                   width: 160px;
                   height: 160px;
                   border-radius: 50%;
                  
                      img{
                       width: 70px;
                       height: 70px;
                       padding-top: 30px;
                       
                      }

                      p{
                       margin: 0px;
                       font-family: Poppins, sans-serif;
                       color: #fff;
                       font-size: 14px;
                       letter-spacing: 2px;
                      }

                   
                }
           }


            .circle_item-3{
                width: 220px;
                height: 220px;
                background-color: #860c0c;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            


                    .circle-items_3{
                       background-color: #a21010;
                        width: 160px;
                       height: 160px;
                        border-radius: 50%;
              
                           img{
                              width: 70px;
                               height: 70px;
                               padding-top: 30px;
                   
                            }

                             p{
                               margin: 0px;
                               font-family: Poppins, sans-serif;
                               color: #fff;
                               font-size: 14px;
                                letter-spacing: 2px;
                             }

               
                    }
            }
        }

        &-text{
            display: flex;
            margin-bottom: 30px;
            margin-top: 30px;
            justify-content: space-around;
            padding: 10px;
          

            .text1{
               
                h2{
                    margin-top: 0px;
                    font-family: Poppins, sans-serif;
                    color: #000;
                    font-size: 30px;
                    line-height: 36px;
                    font-weight: 400;
                    text-align: left;
                }

                p{
                    font-size: 13px;
                    margin-top: 20px;
                    color: #6c6c6c;
                    line-height: 24px;
                    text-align: left;
                    margin-bottom: 10px;
                    font-family: 'Libre Franklin', sans-serif;
                }
            }


            .text2{
                h2{
                    margin-top: 0px;
                    font-family: Poppins, sans-serif;
                    color: #000;
                    font-size: 30px;
                    line-height: 36px;
                    font-weight: 400;
                    text-align: left;
                }

                p{
                    font-size: 13px;
                    margin-top: 20px;
                    color: #6c6c6c;
                    line-height: 24px;
                    text-align: left;
                    margin-bottom: 10px;
                    font-family: 'Libre Franklin', sans-serif;
                }
            }
        }
    }
}


.catalog{
    padding-top: 40px;
   
    &__content{
        display: flex;
        gap: 50px;
        .content-img{
            width: 50%;
            position: relative;
            img{
                width: 250px;
                height: 409px;
                text-align: center;
                padding-left: 80px;
                z-index: 10;
            }

            .grey{
                width: 500px;
                height: 200px;
                background-color:#e0e0e0;
                z-index: -2;
                position: absolute;
                top: 100px;

            }

            

        }

        .content-text{
            width: 50%;
            margin-top: 100px;
            h2{
                margin-bottom: 20px;
                font-family: Poppins, sans-serif;
                font-size: 24px;
                line-height: 34px;
                font-weight: 500;
                text-align: left;
            }

            p{
                
                margin-bottom: 10px;
                font-family: 'Libre Franklin', sans-serif;
                color: #6c6c6c;
                font-size: 14px;
                line-height: 24px;
                text-align: left;
            }
        }
    }
}

.catalog2{
    padding-bottom: 30px;
    &__content{
        display: flex;
        gap: 50px;
        .content-img{
            width: 50%;
            position: relative;
            img{
                width: 250px;
                height: 409px;
                text-align: center;
                padding-left: 80px;
                z-index: 10;
            }

            .grey{
                width: 500px;
                height: 200px;
                background-color:#e0e0e0;
                z-index: -2;
                position: absolute;
                top: 100px;

            }

            

        }

        .content-text{
            width: 50%;
            margin-top: 100px;
            h2{
                margin-bottom: 20px;
                font-family: Poppins, sans-serif;
                font-size: 24px;
                line-height: 34px;
                font-weight: 500;
                text-align: left;
            }

            p{
                
                margin-bottom: 10px;
                font-family: 'Libre Franklin', sans-serif;
                color: #6c6c6c;
                font-size: 14px;
                line-height: 24px;
                text-align: left;
            }
        }
    }
}